/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --hero-background-color: #B8CEE4;
    --blu-button-color: #2C60F5; 
    --designit-square-backgroud-color: #ABD09F;
    --asu-square-background-color: #59192F;
    --uf-square-background-color: #428FC8;
    --topps-square-background-color: #EA3E33;
    --designit-main-square-background-color: #F5F5F5;
    --world-bicycle-relief-square-background-color: #C22D2F;
    --hearst-square-background-color: #B8CEE4;
    --lonely-planet-square-background-color: #1A287B;
    --clear-channel-square-background-color: #F8D857;
    --color-font-call-to-action: #59132B;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-width: 1200px;
}

ul {
    list-style: none;
}

nav ul li:hover {
    border-bottom: 1px solid black;
    transition: all 0.5s;
}

a:not(.plans a, .anchor-team) {
    text-decoration: none;
    color: black;
}

.d-bug {
    border: 1px solid red
}

/* general */
.inline-box {
    display: inline-block;
}

.padding-bottom {
    padding-bottom: 50px ;
}

.padding-top {
    padding-top: 70px;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header */

nav {
    background-color: white;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1001;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#hero {
    margin-top: 60px;
    background-color: var(--hero-background-color) ;
}

nav ul:first-child {
    padding-left: 30px;
}

nav ul:last-child {
    padding-right: 30px;
}

h1 {
    font-size: 80px;
    font-weight: 800;
}

.right > img {
    max-width: 100%;
}

.right {
    width: 70%;
}

.left {
    width: 30%;
}

.position {
    position: relative;
    top: 70px;
}

.gap {
    gap: 30px;
}

/* flex utility */

.d-flex {
    display: flex;
}

.strach {
    justify-content: stretch;
}

.height {
    height: 70px;
}

.column-direction {
    flex-direction: column;
}

.align-center {
    align-items: center;
    align-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

/* section 1 */

.recurring-payments {
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.top-padding-heading {
    padding: 80px 0 40px 0;
}

.section-title-font-size {
    font-size: 40px;
}

.plan-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.paddig-recurring {
    padding: 0 0 60px 20px;
    color: gray;
}

.line {
    width: 20%;
    border: 1px solid gray;
    margin-left: 20px;
}

.small-padding-plans {
    padding: 20px;
}

.large-padding-plans-bottom {
    padding: 20px 0 60px 20px;
}

.large-padding-plans-top {
    padding: 60px 0 20px 20px;
}   

.list-icon-padding {
    padding-right: 3px;
}

.plans {
    border: 1px solid grey;
    width: calc(100% / 3 - 30px);
    gap: 15px;
}

.button-plans-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons-plans {
    width: 100%;
    display: inline-table;
    text-align: center;
    text-decoration: none;
}

.enterprise-plan {
    width: 100%;
    border: 1px solid grey;
    margin-top: 40px;
}

/* section 2 */

.second-section-padding-top {
    padding-top: 200px;
    padding-bottom: 200px;
}

.second-left-section {
    width: 60%
}

.second-left-section > img {
    max-width: 100%;
}

.second-right-section {
    width: 40%;
}

/* section 3 */

.padding-operation {
    padding-top: 200px;
    padding-bottom: 200px;
}

.font-operation {
    font-size: 50px;
}

.card {
    width: calc(100% / 3 - 30px);
}

.card > img {
    width: 100%;
}

/* section 4 */

.font-business {
    font-size: 45px;
}

/* section 5 */

.main-square {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
}

.main-square > img {
    max-width: 50%;
}

.small-square {
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-square > img {
    max-width: 55%;
    filter: brightness(0) invert(1);
}

#designit {
    background-color: var(--designit-square-backgroud-color);
    color: white;
}

#asu {
    background-color: var(--asu-square-background-color);
}

#uf {
    background-color: var(--uf-square-background-color);
}

#topps {
    background-color: var(--topps-square-background-color);
}

#designit-main {
    background-color: var(--designit-main-square-background-color);
    flex-direction: column;
}

#bicycle {
    background-color: var(--world-bicycle-relief-square-background-color);
}

#hearst {
    background-color: var(--hearst-square-background-color);
}

#lonely-planet {
    background-color: var(--lonely-planet-square-background-color);
}

#clear-channel {
    background-color: var(--clear-channel-square-background-color);
}

.main-square-padding {
    padding: 20px;
}

.line-square {
    margin-left: 20px;
}

/* section 5 */

.color-font {
    color: var(--color-font-call-to-action);
}

.call-padding {
    padding: 100px 0;
}

.left-call {
    max-width: 60%;
    font-size: 30px;
}

.right-call {
    max-width: 40%;
}

#call-to-action {
    background-color: var(--hero-background-color);
}

/* section 6 */

.questions-border {
    border-bottom: 1px solid black;
}

/* footer */

footer {
    background-color: black;
    color: white;
}

.top-footer ul::first-line {
    font-size: 20px;
    font-weight: 900;
}

.top-footer li:first-child {
    padding: 50px 0 20px 0;
}

.footer-padding {
    padding: 5px 0 5px 0;
}

.line-footer {
    border: 1px solid gray;
    width: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-icon-padding {
    padding-right: 10px;
}

/* buttons */

.btn {
    padding: 10px 10px;
    color: white;
}

.blue-btn {
    background-color: var(--blu-button-color);
    color: white !important; 
}   

.transparent-btn {
    border: 1px solid gray;
    display: inline-block;
    margin-left: 20px;
    background-color: white;
    color: black;
    padding: 10px 30px;
}

.first-question {
    border-top: 1px solid black;
}

.btn-call {
    display: inline-block;
    margin-left: 20px;
    background-color: white;
    color: black;
    padding: 10px 30px;
}

/* hover effect */

#designit:hover {
    border: 15px solid #D4E8CE;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.blue-btn:hover {
    background-color: #4172f8;
    transition: all 0.5s;
}

.btn-call:hover {
    background-color: rgb(53, 53, 53);
    color: white;
    transition: all 1s;
}

.transparent-btn.btn:hover {
    background-color: #428FC8;
    color: white !important; 
    transition: 0.5s;
}

/* navbar dropdown effect */

li:not(footer li, nav i ){
  display: block;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
nav li:hover,
li:focus-within {
  cursor: pointer;
}

li:focus-within a{
  outline: none;
}

ul li ul {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  visibility: hidden;
  opacity: 0;
  min-width: 30px;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 16px;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

/* summary section */
summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

summary:hover {
    cursor: pointer;
}

summary::after {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 10px solid #15171b;
    border-inline: 7px solid transparent;
    transition: 0.2s;
}
  
details[open] > summary::after {
    transform: rotate(-180deg);
}
  
summary::-webkit-details-marker {
    display: none;
}
  
summary {
    color: #000000;
}
    
details {
    background: #ffffff;
    padding-bottom: 40px;
}
  

  







